language: php
sudo: required
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev

#notifications:
#    slack: chanel:token

script:
  - "phpunit --process-isolation"